ul {
    background-color:aqua;
    padding: 20px;
}

li {
    background-color: #F6E3CA;
    float: right;
    margin-right: 50px;
    border-radius: 5%;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: center;
  }
nav {
    position: relative;
}

form {
    position: absolute;
    padding-top: 25px;
}
#buscar:hover {
    
    background-color:#FADBD8;
}