ul {
    background-color:aqua;
    padding: 10px;
}

li {
    background-color: #F6E3CA;
    float: right;
    margin-right: 50px;
    border-radius: 5%;
    padding:  500px, 50px, 50px, 50px;
  }


nav {
    background-color: #FADBD8;
    margin-top: 10px;
    margin-bottom: 10px;
}
form {
    position: fixed;
    padding: 10px;
}
#buscar:hover {
    
    background-color:#FADBD8;
}